.banner {
	background-image: url("../../assets/team.jpg");
}

.banner__titulo {
	color: #766F68;
	font-size: 5rem;
}

.banner__subtitulo {
	color: #766F68;
	font-weight: 300;
	font-size: 2rem;
	margin: 2rem 0;
}

.botao {
	background-color: #DE5423;
	border: none;
	border-radius: 10px;
	color: #FFF;
	font-size: 1.5rem;
	font-weight: bold;
	padding: 1rem;
	width: 22rem;
}
.botao:hover {
	background-color: #E87425;
	cursor: pointer;
}

@media (max-width: 980px) {
	.banner {
		background-size: 400px 300px;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		width: 100vw;
	}
	.banner__titulo {
		font-size: 3rem;
	}
	.teste {
		position: relative;
		top: 500px;
		height: 100vh;
	}
}

@media (max-width: 500px){
	.header {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: margin: 2rem 2.5rem 0;
	}
}

@media (min-width: 980px) {
	.banner {
		background-size: 490px 400px;
		background-repeat: no-repeat;
		background-position: 450px 20px;
		display: block;
		margin: 5rem auto 0 auto;
		width: 90vw;
		height: 100vh;
	}
	.banner__titulo {
		font-size: 5rem;
	}
}
@media (min-width: 1200px) {
	.banner {
		background-size: 690px 400px;
	}
}